<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Email Sent | Platzi Yard Sale</title>
</head>
<body>
    <header>

    </header>
    <main>
        <div class="login-container">
            <div class="login-container-form">
                <img src="./Platzi_YardSale_Logos/logo_yard_sale.svg" alt="logo" class="logo">
                <h1 class="title">
                    Email has been sent!
                </h1>
                <p class="subtitle">
                    Please check your inbox for instructions on how to reset your password.
                </p>
                <div class="email-image">
                    <img src="./Platzi_YardSale_Icons/email.svg" alt="email">
                </div>
                <button type="submit" class="primary-button login-button">Login</button>
                <p class="resend">
                    <span>
                        Didn't received the email?
                    </span>
                    <a href="/">Resend</a>
                </p>
                </form>
            </div>
        </div>
    </main>
</body>
</html>
